<nav>
  <ul>
    <li>
          <a [routerLink]=" [''] ">Strona główna</a>
    </li>
    <li>
          <a [routerLink]=" ['/manage-books'] ">Zarządzaj książkami</a>
    </li>
    <li>
      <a [routerLink]="['/login']">Zaloguj</a>
    </li>
    <li>
      <a [routerLink]=" ['/register'] ">Zarejestruj</a>
    </li>
    <li>
      <a [routerLink]=" ['/user-account'] ">Koszyk</a>
    </li>
  </ul>
</nav>
<!--<myHeader></myHeader>-->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

