<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Księgarnia</title>
</head>
<body>
<h3>Lista książek:</h3>

  <ul class="ksiazki">
  <% for(var i=0; i<ksiazki.length; i++) {%>
    <li class="ksiazki">
      <span>Tytuł: <%= ksiazki[i].name %></span><br>
      <span>Autor: <%= ksiazki[i].author %></span><br>
      <span>tutaj obrazek</span>
    </li>
  <% } %>
  </ul>

  <form action="/ksiazki" method="POST">
    <input type="text" placeholder="tytul" name="name">
    <input type="text" placeholder="autor" name="author">
    <button type="submit">Dodaj</button>
  </form>
</body>
</html>