<div class = "container">
  <h1>
    Księgarnia internetowa
  </h1>
 <!--  comments -->
  <div class="row">
    <div *ngFor="let book of books" class="col">
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src='{{book.image}}' alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{book.name}} </h5>
              <p  style="font-size:11px" class="card-text">{{book.describtion}} </p>
            </div>
            <ul class="list-group list-group-flush">
              <li style="font-size:13px" class="list-group-item"> {{book.author}}</li>
              <li style="font-size:13px" class="list-group-item">Cena:    {{book.price}}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Do koszyka</a>
            </div>
        </div>
    </div>
  </div>

</div>



