<div class = "container">
  <h1>
    Welcome to !
  </h1>
 <!--  comment 
  <tr *ngFor="let book of books">
    <td> <img width="200" img src='{{book.image}}' class="rounded float-left" alt="Responsive image"></td>
    <td>{{book.name}}</td>
    <td>{{book.author}}</td>
    <td>Cena: {{book.price}}</td>
  </tr>-->
  <div class="row">
      <div *ngFor="let book of books" class="col">
        <img width="200" img src='{{book.image}}' class="rounded float-left" alt="Responsive image">{{book.name}}
        {{book.name}} {{book.author}} {{book.price}}
      </div>
  </div>
</div>


