<div class = "container">
 <table class="table">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Tytuł książki</th>
          <th>Autor</th>
          <th>Cena</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <th scope="row">{{book.id}}</th>
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.price}}</td>
        </tr>
      </tbody>
    </table>

  <!--  <tr *ngFor="let book of books1">
      <th scope="row">{{book.name}}</th>
    </tr>
  {{books1}}
  {{books1 | json}}
  <div *ngIf="books1">{{books1}}</div>-->
  {{books1 | json}}
  Autor: 
  <div *ngFor="let book of books1">{{book.author | json}}</div>
  
</div>