<div class = "container">
  <table class="table">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Tytuł książki</th>
          <th>Autor</th>
          <th>Cena</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <th scope="row">{{book.id}}</th>
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.price}}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="getbooks()">Load books</button>
    {{ result }}
</div>