<div class="container">
  <h5>STWÓRZ NOWE KONTO KLIENTA</h5>
  <p>Tworzenie konta jest proste. Wystarczy, że wypełnisz formularz.</p>
  <div class="col-md-6 col-md-offset-3">
      <h4>PODAJ DANE DO REJESTRACJI KONTA KLIENTA  </h4>
      <form (submit)="onRegisterSubmit()" name="form">
          <div class="form-group">
              <label for="firstName">Imię</label>
              <input  [(ngModel)]="firstName" type="text" class="form-control" name="firstName" />
          </div>
          <div class="form-group" >
              <label for="lastName">Nazwisko</label>
              <input  [(ngModel)]="lastName" type="text" class="form-control" name="lastName" />
          </div>
          <div class="form-group" >
              <label for="username">E-mail</label>
              <input  [(ngModel)]="username" type="text" class="form-control" name="username" />
          </div>
          <div class="form-group" >
              <label for="password">Hasło</label>
              <input  [(ngModel)]="password" type="password" class="form-control" name="password" />
          </div>
          <div class="form-group" >
              <label for="confirmPassword">Potwierdź hasło</label>
              <input [(ngModel)]="confirmPassword" type="password" class="form-control" name="confirmPassword" />
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">UTWÓRZ KONTO</button>
              <a [routerLink]="['/dashboard']" class="btn btn-link">Anuluj</a>
          </div>
      </form>
  </div>
</div>